body {
    min-width: 400px;
    font-family: 'Montserrat', Arial, sans-serif;
}

header,
footer {
    color: white;
    background-color: rgb(60, 10, 100);
    text-align: center;
}

header {
    line-height: 1.7;
    font-size: x-large;
    font-weight: bold;
}

header h2 {
    margin: 0;
}

#growMenu {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: larger;
}

#growMenu::after {
    content: '≡';
}

#growMenu.open:after {
    content: 'X';
}

nav {
    display: flex;
}

.navigationUl {
    display: none;
    margin: 0 0 1rem 0;
}

.navigationUl.open {
    display: block;
    width: 100%;
}

.navigationUl li {
    list-style: none;
    margin-right: 2rem;
}

nav a {
    display: block;
    background-color: rgb(68, 68, 68);
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgb(60, 10, 100);
}

nav a:hover {
    background-color: white;
    color: rgb(68, 68, 68);
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

h2 {
    font-size: 1.5rem;
}

.templeContainer {
    display: grid;
}

footer {
    color: white;
    padding: 10px 0;
    line-height: 1.5;
}